<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AjaxController1</display-name>
    <servlet-name>AjaxController1</servlet-name>
    <servlet-class>ajax01.AjaxController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxController1</servlet-name>
    <url-pattern>/ajax01/ajax1.do</url-pattern>
  </servlet-mapping>
  <display-name>ch11_ajax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxServletIdCheck</display-name>
    <servlet-name>AjaxServletIdCheck</servlet-name>
    <servlet-class>ajax01.AjaxServletIdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletIdCheck</servlet-name>
    <url-pattern>/ajax01/idCheck.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletController3</display-name>
    <servlet-name>AjaxServletController3</servlet-name>
    <servlet-class>ajax01.AjaxServletController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController3</servlet-name>
    <url-pattern>/ajax01/ajax3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletController4</display-name>
    <servlet-name>AjaxServletController4</servlet-name>
    <servlet-class>ajax01.AjaxServletController4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController4</servlet-name>
    <url-pattern>/ajax01/ajax4.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletController5</display-name>
    <servlet-name>AjaxServletController5</servlet-name>
    <servlet-class>ajax01.AjaxServletController5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController5</servlet-name>
    <url-pattern>/ajax01/ajax5.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxcontest</display-name>
    <servlet-name>ajaxcontest</servlet-name>
    <servlet-class>ajax01.ajaxcontest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxcontest</servlet-name>
    <url-pattern>/ajaxcontest</url-pattern>
    <url-pattern>/ajax1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv</display-name>
    <servlet-name>serv</servlet-name>
    <servlet-class>ajax01.serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv</servlet-name>
    <url-pattern>/ajax1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dogjsoaef</display-name>
    <servlet-name>dogjsoaef</servlet-name>
    <servlet-class>ajax01.dogjsoaef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dogjsoaef</servlet-name>
    <url-pattern>/dogjsoaef</url-pattern>
  </servlet-mapping>
</web-app>